<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zrd.myweather">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name="com.example.zrd.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity"
            android:label="This is MainActivity"><!--指定具体注册的活动名称，这里省略了包名,指定活动中标题栏的内容-->
            <intent-filter>//配置主活动
                <action android:name="android.intent.action,MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SelectCity">
        </activity>
    </application>
</manifest>
